# Secrets
**/.env
**/.env.*
!**/.env.example

# Tooling
.claude/*
!.claude/agents/
!.claude/output-styles/
!.claude/references/
!.claude/rules/
!.claude/skills/
!.claude/settings.json
**/.vscode/*
!**/.vscode/extensions.json

# Meta
**/.DS_Store
